<link href="https://kendo.cdn.telerik.com/themes/6.7.0/default/default-main.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2023.2.829/mjs/kendo.all.js" type="module"></script>

<style>
    body {
        background-color: #f0f0f0;
    }
    /* Define CSS for image hover and animation */
    .imgBox {
        transition: transform 0.5s ease-in-out;
    }

    .content {
        transition: transform 0.5s ease-in-out;
    }

    /* Override image size */
    .imgBox img {
        width: 15rem;
        height: 17rem;
        resize: both;
        object-fit: cover;
    }

    /* Override container and box styles */
    #listView .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

        #listView .container .box {
            position: relative;
            margin: 4rem;
        }

            #listView .container .box:hover .imgBox {
                transform: translate(-1.5rem, -1.5rem);
            }

            #listView .container .box:hover .content {
                transform: translate(1.5rem, 1.5rem);
            }



    @@media (max-width: 600px) {
        #listView .container .box:hover .content {
            transform: translate(0, 3.5rem);
        }

        #listView .container .box:hover .imgBox {
            transform: translate(0, -3.5rem);
        }
    }

</style>
<body>
    <h1 class="text-center">Animal List</h1>

    <div id="listView" style="width: 80%;  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%); margin: auto;"></div>

    <script type="text/x-kendo-template" id="template">
        <div class="container">
            <div class="box">
                <div class="imgBox">
                    <img src="data:image;base64,#= aniImage #" alt="" height=50px,width=50px>
                </div>
                <div class="content">
                    <h2>#= name #</br>
                </div>
            </div>
        </div>
    </script>

    <script>
        $(document).ready(function () {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetData",
                        dataType: "json",
                    }
                },
                pageSize: 4,
            });

            $("#listView").kendoListView({
                dataSource: dataSource,
                layout: "grid",
                grid: {
                    cols: 2,
                },
                template: kendo.template($("#template").html()),
                pageable: true
            });
        });
    </script>
</body>