@{
    ViewData["Title"] = "Privacy Policy";
}

@model Listview.Models.Animal

@{
}
<html>
<head>
    <style>
        .mydiv {
            border: 3px outset white;
            border-radius: 10px;
            padding: 15px;
            background-color: #DAF7A6;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Add Animal</h1>
    <div class="mydiv">
        <form method="post" action="Privacy" class="mt-5" enctype="multipart/form-data">

            <div class="mb-7">
                <label for="" class="form-label">Id</label>
                <input type="text" class="form-control" id="Id" asp-for="Id">

            </div>
            <div class="mb-7">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" asp-for="Name">

            </div>

            <div class="mb-3">
                <label for="" class="form-label">Image</label>
                <input type="file" class="form-control" id="files" asp-for="AniImage">

            </div>
            <div class="mb-3">

                <input type="submit" value="create" id="files" class="btn btn-danger" aria-describedby="emailHelp">

            </div>


        </form>
    </div>
</body>
</html>

